<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EncryptionandDecryption.Properties.Settings.LoginDBConnectionString"
            connectionString="Host=localhost;Database=LoginDB;Username=postgres;Password=40028922;"
            providerName="Npgsql" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>